.positioning {
	display: inline-block
}

.presence {
	margin-top: 15px;
}

.notificationsDivider {
	height: 2px;
	background-color: black;
	width: 100%;
	display:block;
}

span.notificationField {
	font-weight: bold;
	color: darkblue;
}

div.presence > button {
	margin-top: 0;
	margin-left: 0;
	border-radius: 5px;
}