div#transactionHistory {
    padding: 10px;
}

div.ReactModal__Content {
    max-width: 100vw;
}

.ReactModal__Content.ReactModal__Content--after-open {
    max-width: 100vw;
}

div.ReactModal__Content ul li{
    word-wrap: break-word;
}

@media (max-width: 433px) {
    div#transactionHistory {
        margin-top: 40px;
    }
}
