service: express-app

provider:
    name: aws
    runtime: nodejs10.x
    stage: dev
    region: us-east-1

functions:
    app:
        handler: server.handler
        events:
            - http: ANY /
            - http: "ANY {proxy+}"

package:
    exclude:
        - client/**
