li.userListField {
    list-style: none;
}

div#userProfile {
    padding: 0;
    padding-right: 20px;
    border: 2px lightgrey solid;
    padding: 10px;
    box-shadow: 0 0 5px 1px;
    border-radius: 15px;
}

span.fieldName {
    font-size: 20px;
    font-weight: 500;
}

div#userProfile ul {
    padding: 0;
}

div#editUserProfile ul {
    padding: 0;
}

.profileOffers {
	margin-left: 1.5em !important
}