.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 6em
}

.items {
  padding: 2em 1.5em 2em 1.5em;
	cursor: pointer
}

.items-list {
  padding: 0.5em 0em 0.5em 0em;
  cursor: pointer
}

.card .card-body .card-text {
  height: 150px;
}

p.seller-info {
  color: #000;
  font-weight: 400;
  font-size: 1.2em;
  margin-bottom: 0.5rem;
}

p.seller-info i {
  width: 25px;
}

div.center-button {
  margin-bottom: 10px;
}

.format-options > p {
  display: inline-block
}

.view img {
  margin: auto;
  height: 250px;
}

.view {
  background-color: #0c0c0c;
}

.tabs p {
  position: absolute;
  font-size: 1.2em;
  padding: 0.2em;
  border: solid #e3f2fd;
  border-bottom-left-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
  background: #e3f2fd;
  color: #007bff;
  cursor: pointer
}

.tabs p:nth-child(1) {
  margin-left: 1em;
  float: left;
}

.tabs p:nth-child(2) {
  margin-left: 4.5em;
  float: left;
}

.tabs p:nth-child(3) {
  margin-left: 11.6em;
  float: left;
}

.return-results {
  position: absolute;
  color: #007bff;
  font-size: 1.2em;
}