/* GENERAL CSS */
body {
    font-family: 'Open Sans', sans-serif;
}

div.appContainer {
  margin: 1rem 0 1rem 0;
}

div.appContainer div {
  border-radius: 0.5rem;
}

.row {
  margin: 0;
}

/* PROFILE */
div#profileDiv {
  height: 100px;
  background-color: #efefef;
  margin-top: 1rem;
  padding: 1rem;
}

.centeredFlexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centeredFlexItem {
  margin: auto;
}

div#usernameContainer {
  float: left;
}

h4#username {
  text-align: center;
  overflow-wrap: break-word;
}

div#wallet {
  float: right;
}

h4#walletBalance {
  text-align: center;
  overflow-wrap: break-word;
}

div.profileElement {
  background-color: #6aed80;
  height: 100%;
  min-width: 200px;
}

@media (max-width: 490px) {
  div.profileElement {
    min-width: 45%;
  }

  div#wallet {
    margin-left: 0.5rem;
  }

  div#usernameContainer {
    margin-right: 0.5rem;
  }
}

/* ITEMS */
div#itemsDiv {
  min-height: 382px;
  background-color: #efefef;
  margin-top: 1rem;
  justify-content: center;
  z-index: -1;
}

div#itemBlock {
  height: calc(350px + 2rem);
  background-color: white;
  width: 15rem;
  margin: 1rem;
  z-index: 0;
}

div#itemName {
  height: 50px;
  background-color: #4fc1ff;
  display: flex;
  align-items: center;
  border-radius: 0.5rem 0.5rem 0 0;
}

h5#itemHeader {
  margin: auto;
  text-align: center;
  overflow-wrap: break-word;
  max-width: 100%;
}

img#itemPhoto {
  height: 150px;
  width: calc(240px - 2rem);
  border-radius: 0.5rem;
  margin: 1rem;
}

div#bidInfo {
  height: 100px;
  padding-top: 10px;
  background-color: #efefef;
  margin: 0 1rem 0 1rem;
}

div#bidInfo > h6 {
  text-align: center;}

button#bidButton {
   height: 30px;
   background-color: #f4b541;
   display: block;
   margin: 10px auto 10px auto;
   margin
}

/* SOLD AND BOUGHT */
div.historyDiv {
  min-height: 100px;
  margin-top: 1rem;
  background-color: #efefef;
  padding-bottom: 1rem;
}

div#historyHeaderContainer {
  padding: 0.5rem;
  background-color: #4fc1ff;
  border-radius: 0.5rem 0.5rem 0 0;
}

hr.historyHeadDividerLine {
  margin: 0.25rem;
}

h4.historyHeader {
  margin-bottom: 0;
}

table.historyTable {
  width: calc(100% - 2rem);
  border-style: solid;
  border-width: 1px;
  margin: 1rem 1rem 0 1rem;
}

tr.historyTableHeaderRow {
  border-bottom: 2px solid black;
}

tr.historyTableHeaderRow > th, td {
  padding-left: 1rem;
}

/* BOUGHT */
div#boughtDiv {
  /* background-color: green; */
}

/* SOLD */
div#soldDiv {
  /* background-color: red; */
}
