form#searchForm {
    margin: 0;
}

li.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav-create-posting {
	background-color: #2bbbad;
}

div.dropdown {
    width: 150px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-color {
	background-color: #0080ff !important
}


.navbar, .pagination .page-item.active .page-link {
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}


div.search * {
	width: 100% !important;
}

.searching form {
	background-color: white !important;
	border: solid 0.1em #007bff;
	border-radius: 0.7em
}

.searching-min form {
	background-color: white !important;
	border: solid white;
	border-radius: 0.7em
}

.searching input {
	width: 100%;
	height: 0.6em;
	padding-bottom: 1em;
	margin-bottom: 0.7em
}

.searching-min input {
	width: 100%;
	height: 0.6em;
	padding-bottom: 1em
}

.searching {
	text-align: right !important;
	float: right !important;
    width: 90% !important;
    /* margin-top: 15em !important */
}

.searching-min {
	text-align: right !important;
	float: right !important;
    width: 90% !important
}

form#searchForm div{
	width: 100%;
}


form#searchForm div input.react-autosuggest__input {
	padding: 15px 0;
}
input.react-autosuggest__input {
	width: 100%;
}

.navbar.scrolling-navbar {
	width:80%;

}

.white-text strong {
	color: white !important;
	font-size: 160%
}

.white-text a {
	color: white !important;
	font-size: 130%
}

.white-text span {
	color: white !important;
	font-size: 120%
}

.center-search {
	display: flex !important;
	justify-content: center !important;
	flex-wrap: wrap !important;
	padding-bottom: 10px;
	height: 22em;
	background-repeat:no-repeat;
	background-size:cover
}

.center-search-min {
	display: flex !important;
	justify-content: center !important;
	flex-wrap: wrap !important;
	padding-bottom: 10px
}

.expand {
	width: 100% !important
}

div.dropdown-menu.show {
	left: -50px;	
}

button.dropdown-item span {
	font-size: 15px;
    color: black !important;
    padding-left: 8px;
}

h1#slogan {
	color: white;
	margin-top: 50px;
    font-size: 60px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
    text-shadow: 0 0 20px black;
}

span#navEth {
	font-size: 20px;
	font-weight: bolder;
	display: flex;
}

span#navEth i {
	margin-right: 10px;
}

@media (max-width: 767px) {
	h1#slogan {
		font-size: 40px;
	}
}


