.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.items {
	padding: 2em 1.5em 2em 1.5em;
	cursor: pointer
}

.right-text-float {
	display: inline;
	float: right;
	margin: 0;
	font-size: 75%;
	color: #85bb65
}

.no-line {
    color: #3f51b5;
    text-decoration: none
}