<link rel="stylesheet" type="text/css" href="/css/index.css">
<h1><%= appName %></h1>
<h1>This will be our home page</h1>
<p><%= server %></p>
<p><%= storage %></p>
<head><% include partials/index.ejs %></head>
