img#postingPicture {
    width:100%;
}

div.postingInfo {
    margin: 15px;
}

div.postingInfo p {
    line-height: 25px;
}

div.sellerRating {
    display: flex;
    align-items: center;
}

div.sellerRating i {
    width: 25px;
}

div.sellerRating h3 {
    display:inline;
    margin-right: 10px;
}

.image-display {
    width:100%;
    height: 100%;
    max-width: 35em;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.image-display > img {
    margin-top: auto;
    margin-bottom: auto;
}