.title-padding {
	padding: 0.5em 0em 0em 0.5em
}

.resize {
	width: 20em;
    margin: 0;
    padding: 0
}

.resize-detailed-list {
	width: 90em;
	padding: 0em 0em 1em 0em;
	display: inline-block
}

.relative-position {
	position: relative
}

.center-button {
    display: flex;
    justify-content: center;
    align-items: center
}

button.btn.btn-default.Ripple-parent {
	font-size: 0.9em;
}

.card-text {
	font-size: 1.1em !important
}

.card-text-list {
	font-size: 1.1em !important;
	height: 1em !important	
}

.right-text-float {
	display: inline;
	float: right;
	margin: 0;
	font-size: 0.75em;
	color: #85bb65
}

.right-float {
	float: right;
	color: #85bb65
}

.img-detailed {
	width: 10em !important;
	display: inline-block;
	position: relative
}

.width-resize {
	float: right;
	width: 40em;
}

.detailed-title {
	width: 75em;
	float: right
}

.detailed-text {
	width: 75em;
	float: right;
	margin-top: -3em
}

.date-details-list {
	float: right;
	margin: 0;
	padding: 0;
}

.time-position {
	position: absolute;
	top: -0.45em;
	color: #1589FF;
	background-color: rgba(0, 0, 0, 0.15);
	padding: 0em 0.4em 0em 0.4em;
	border-radius: 0.2em
}

.price-position {
	position: absolute;
	width: 100%;
	text-align: right;
	top: -0.45em;
	padding: 0.5em 0.5em 0em 0em;
	font-size: 1.3em;
	color: #00B200
}

.inline-display {
	display: inline-block
}