.offers p {
	display: inline-block
}

div#notifications {
	width: 100%;
	margin: auto;
	padding-top: 50px;
}

div#notifications > div {
    display: flex;
    flex-direction:  column;
	align-items: center;
	padding: 20px;
	background-color: lightblue;
	border: 2px solid grey;
	border-radius: 15px;
	box-shadow: 0 0 5px;
}

div.notificationsPost {
	width: 50%;
	margin: 15px auto;
}

div.notificationsPost > div {
	padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    border: 2px grey solid;
	box-shadow: 0 0 5px 2px grey;
	margin-bottom: 20px;
}

@media (max-width: 900px) {
	div.notificationsPost {
		width: 90%;
	}
}
