.offers p {
	display: inline-block
}

div#notifications {
	width: 100%;
	margin: auto;
	padding-top: 50px;
}

div#notifications > div {
    display: flex;
    flex-direction:  column;
	align-items: center;
	padding: 20px;
	background-color: lightblue;
	border: 2px solid lightgrey;
	border-radius: 15px;
}

div.notificationsPost {
	width: 50%;
	margin: 15px auto;
}

@media (max-width: 900px) {
	div#buyerPendingPosts {
		width: 100%;
	}
	
	div#sellerPosts {
		width: 100%;
	}
}