#loginContainer.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-width: 320px;
    height: 85vh;
    padding-top: 0;
}

div.row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row.test-accounts-container {
    margin-top: 5em;
    flex-direction: column;
}

.row.test-accounts.container h1 {
    margin-bottom: 1em;
}